
input{
   margin: 20px;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
    border-radius: 10px;
    align-items: center;
    color: white;
    background-color: black;
    
}

p{
    font-size: 25px;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: rgb(195, 195, 219);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: rgb(9, 77, 77);
}





 
